* {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 203, 216);
}
h1 {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 30px;
  font-weight: bold;
}
/*styling german class div*/
.german {
  width: 500px;
  height: 270px;
  border: 3px solid green;
  margin: auto;
  margin-bottom: 20px;
  display:block;
}
/*styling each color box div*/
.box-black {
  width: 500px;
  height: 90px;
  background-color: black;
}
.box-red {
  width: 500px;
  height: 90px;
  background-color: red;
}
.box-yellow {
  width: 500px;
  height: 90px;
  background-color: yellow;
}
/*styling french class div*/
.french {
  width: 500px;
  height: 250px;
  border: 3px solid green;
  margin: auto;
  position: relative;
}
/*styling each color div*/
.box-blue {
  width: 167px;
  height: 250px;
  background-color: blue;
  position: relative;
}
.box-white {
  width: 167px;
  height: 250px;
  background-color: white;
  position: relative;
  top: -250px;
  left: 167px;
}
.box-red2 {
  width: 166px;
  height: 250px;
  background-color: red;
  position: relative;
  top: -500px;
  left: 335px;
}
/*hovering german flag*/
.german:hover .box-black {
  background-color: red;
}
.german:hover .box-red {
  background-color: white;
}
.german:hover .box-yellow {
  background-color: green;
}
/*hovering french flag*/
.french:hover .box-blue {
  background-color: green;
}
.french:hover .box-white {
  background-color: white;
}
.french:hover .box-red2 {
  background-color: orange;
}