.navigation {
  height: 10vh;
  padding: 0 40px;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: $font-display;
  font-size: 30px;
  color: $color-white;
}
.button {
  display: block;
  width: 100px;
  background-color: $color-secondary;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: $color-white;
  border: none; //removes border from send because tag button has borders but <a> dont have borders

  &--form { //with .button--form width not working but with &--form width gets to 100%
    width: 100%;
    background-color: $color-primary-light;
  }
  &--thanks {
    width: 60%;
    padding: 5px 0;
    font-size: 30px;
    border-radius: 10px;
    background-color: $color-white;
    color: $color-primary;
    border: 3px solid $color-primary;
    
  }
}
.intro {
  text-align: center;

  .intro__heading { //could be &__heading
    color: $color-primary;
    font-size: 50px;
  }
  .intro__sub-heading { //&__sub-heading
    font-family: $font-display;
    font-size: 40px;
    margin: 20px 0;
  }
  .intro__button { //&__button
    margin: 0 auto; //pushes scroll to center of div
  }
}
.wave {
  vertical-align: top;
}
.form {
  background-color: $color-white;
  height: 80%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .form__input {
    margin-bottom: 50px;
  }
}
.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .thanks__sub-heading {
    font-family: $font-display;
    font-size: 40px;
    margin-bottom: 10px;
  }
}
.footer__text {
  color: $color-white;
  font-size: 25px;
}