* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;  
}
body {
  background-color: black;
}
header {
  background-color: black;
  width: 100%;
  height: auto;
}
.container {
  display:flex;
  align-items: center;
  height: 50px;
  font-size: 40px;
  font-weight: 800px;
  color: white;
}
.link {
  margin-right: 90px;
  font-weight: 700;
  list-style-type: none;
  flex: 0 0 auto;
}
.logo {
  margin-right: auto;
  margin-left: 20px;
  font-size: 35px;
  padding: 0 50px;
  background-color: green;
}
main {
  border: 2px solid white;
  margin: 0 20px;
  padding-bottom: 40px;
  background-color: white;
}
.main-container {
  margin: 30px 50px;
  display: flex;
}
.box1 {
  flex: 4 1 auto;
}
.container1 {
  border: 3px solid black;
  height: 170px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.container2 {
  border: 3px solid black;
  height: 170px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.container2 .square {
  margin-right: 30px;
}
.container3 {
  border: 3px solid black;
  height: 170px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.container3 .square {
  margin-left: 30px;
}
.box2 {
  border: 3px solid black;
  margin-left: 20px;
  flex: 1 1 200px;
  padding: 10px;
}
.square {
  color: white;
  width: 100px;
  height: 100px;
  background-color: black;
}
@media only screen and (max-width: 600px) {
  .link {
    margin-right: auto;
  }
  .main-container {
    flex-wrap: wrap;
  }
  .box2 {
    margin-left: auto;;
  }
}